/*
google fonts

font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #f2f2f2;
	background-color: #394a6d
}

.btn a {
	text-decoration: none;
	color: white;
}

.my-bg-primary {
	background-color: #3c9d9b;
}

.card-bg {
	background-color: #c0ffb3;
}

#port-jumbo {
	position: relative;
	/*border: 8px solid #007bff;*/
	/*padding: 8em 4em;*/
	/*border-radius: 10px;*/
	width: 100%;
	/*background-color: rgba(0,0,0,0.3);*/
	z-index: 10;
}

#jumbo-div {
	height: 100vh;
	padding-top: 10%;
	/*background-color: #394a6d;*/
	/*background-color: rgba(0,0,0,0.5);*/
	background-image: url("../images/hero-image.jpeg");
	background-size: cover;
	background-position: center;
	border-radius: 0;
	position: relative;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(200,200,200,0.2);
	z-index: 1;
}

#hero-image {
	background-image: url("../images/hero-image.jpeg");
	background-size: cover;
	height: 100vw;
	width: 100vh;
	float: left;
}

/*.overlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	display: block;
	z-index: -1;
}*/

.jumbotron-section {
	position: relative;
}

.jumbotron h1 {
	color: #f2f2f2;
	font-family: 'Lato', sans-serif;
	/*background-color: rgba(100,100,100,0.5);*/
}

.jumbotron h1+p {
	color: #f2f2f2;
}

.drop-shadow {
	box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
}

.card-body {
	color: black;
}

.card-body btn {
	/*background-color: #3c9d9b*/
}

.footer {
	background-color: #3c9d9b;
}

/*media queries*/

/*mobile styles*/
@media only screen and (max-width:400px) {
	.port-jumbo {
		
	}
}

/*tablet style*/
@media only screen and (min-width:401px) and (max-width: 960px) {

}

/*desktop style*/
@media only screen and (min-width:961px) {

}
